---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout sideMargin="25vw">
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.id}/`}>
                        {post.data.heroImage && (
                            <Image width={720} height={360} src={post.data.heroImage} alt="" />
                        )}
                        <div class="info">
                            <h2 class="title">{post.data.title}</h2>
                            <p class="desc">{post.data.description}</p>
                            <p class="date"><FormattedDate date={post.data.pubDate} /></p>
                        </div>
                    </a>
                </li>
            ))
        }
    </ul>
</Layout>

<style>
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    ul li {
        margin-top: 4rem;

        & * {
            transition: 0.2s ease;
            text-decoration: none;
        }

        & a {
            display: flex;
            color: var(--color-text);
        }

        &:hover {
            filter: invert(25%);
        }

        img {
            margin: 0.5rem 1rem 0.5rem 0;
            border-radius: 12px;
            border-radius: 8px;
            width: auto;
            max-width: 10rem;
            height: auto;
            max-height: 6rem;
            object-fit: cover;
        }
    }
    .desc, .date {
        text-decoration: none;
    }
    .title {
        margin: 0;
        font: bold 2rem var(--font-title);
    }
    .desc {
        margin: 0.25em 0;
        color: var(--color-text-secondary);
    }
    .date {
        margin: 0;
        color: rgb(var(--gray));
    }
    ul li a:hover h4,
    ul li a:hover .date {
        color: rgb(var(--color-text-secondary));
    }
    ul a:hover img {
        box-shadow: var(--box-shadow);
    }
    @media (max-width: 720px) {
        ul {
            gap: 0.5em;
        }
        ul li {
            width: 100%;
            text-align: center;
        }
        ul li:first-child {
            margin-bottom: 0;
        }
        ul li:first-child .title {
            font-size: 1.563em;
        }
    }
</style>
