---
import Banner from "../components/Banner.svelte";
import Layout from "../layouts/Layout.astro";
import background from "../assets/background.svg";

const navItems = [
    {
        href: "https://github.com/Almiinh",
        src: "https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github",
        alt: "GitHub",
    },
    {
        href: "https://www.linkedin.com/in/minh-hoang-alexis-huynh-621b52222/",
        src: "https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin",
        alt: "LinkedIn",
    },
    {
        href: "index/CV FR Minh-Hoang HUYNH.pdf",
        src: "https://img.shields.io/badge/French%C2%A0CV-PDF-FF0000?style=for-the-badge&logo=read.cv",
        alt: "PDF",
    },
];

const csProjects = [
    {
        href: "https://github.com/Almiinh/cloud-computing/",
        color: "#B0E0E6", // Pastel Light Blue
        fontColor: "black",
        tag: "Cloud Computing",
        title: "File Processing through AWS S3 & SQS",
        tooltip:
            "An AWS-based solution to consolidate daily sales data from globally distributed stores of a \
            large retailer w/ Client-Worker-Consolidator architecture.",
    },
    {
        href: "https://gitlab.emse.fr/minh-hoang.huynh/semantic-web-project",
        color: "#98FB98", // Pastel Light Green
        fontColor: "black",
        tag: "Semantic Web",
        title: "A SW-based Search Engine",
        tooltip:
            "Using JSON-LD data stored in a Apache Jena Fuseki local server to browse through food offers in \
            coopcycles.com websites",
    },
    {
        href: "https://github.com/Almiinh/red-object-detector",
        color: "#E6E6FA", // Pastel Light Purple
        fontColor: "black",
        tag: "Computer Vision",
        title: "Detection of Red Object Motion",
        tooltip:
            "Using HSV colour space to detect red ranges on webcam and position difference across frames to detect motion on webcam.",
    },
    {
        href: "https://github.com/Almiinh/imageprocessing",
        color: "#FFFACD", // Pastel Light Yellow
        fontColor: "black",
        tag: "Image Processing",
        title: "Compilation of notebook presenting processing techniques.",
        tooltip:
            "Image Segmentation, Enhancement, Histogram Equalization, Fourier Transform, Restoration, \
            Morpho Maths, ML ...",
    },
    {
        href: "https://github.com/Almiinh/calculator",
        color: "#FFB6C1", // Pastel Light Pink
        fontColor: "black",
        tag: "Programming",
        title: "A Calculator in Java",
        tooltip: "A Calculator in Java w/ basic operations, inspired by the Windows Calculator",
    },
    {
        href: "https://github.com/Almiinh/game-of-life",
        color: "#FFB6C1", // Pastel Light Pink
        fontColor: "black",
        tag: "Programming",
        title: "The Conway's Game of Life in C",
        tooltip: "The well known game of life written in C in the terminal",
    },
    {
        href: "https://github.com/Almiinh/flashcard-webapp/",
        color: "#F5F5DC", // Pastel Beige
        fontColor: "black",
        tag: "Web",
        title: "A Car Rental Web App in PHP/Symfony",
        tooltip: "A Web App as if you were to rent a car.",
    },
    {
        href: "https://github.com/Almiinh/flashcard-webapp/",
        color: "#F5F5DC", // Pastel Beige
        fontColor: "black",
        tag: "Web",
        title: "A Flashcard Web App in Java/Spring Boot & Vue.js",
        tooltip: "(Need repair) A Web App Mockup to store flashcards",
    },
    {
        href: "https://addons.mozilla.org/fr/firefox/addon/wordreference-peek/",
        color: "#F5F5DC", // Pastel Beige
        fontColor: "black",
        tag: "Web",
        title: "A WordReference Peek Firefox Addon",
        tooltip: "An addon to peek at a word on wordreference without opening WordReference.com w/ JS",
    },
    {
        href: "",
        color: "#77DD77", // Pastel Green
        fontColor: "black",
        tag: "Data Science",
        title: "A fusion of datatsets with the Hungarian Algorithm (Kuhn-Munkres)",
        tooltip: "",
    },
    {
        href: "",
        color: "#FFB347", // Pastel Orange
        fontColor: "black",
        tag: "Operational Research",
        title: "Implementation of Mixed-Integer Linear Programming Algorithms",
        tooltip: "",
    },
];

const mlProjects = [
    {
        href: "https://github.com/Almiinh/ml-exercises/blob/main/nlp_VectorRAG_vs_GraphRAG.ipynb",
        color: "#DEA1A9", // Pastel Rose
        fontColor: "black",
        tag: "NLP, LLM",
        title: "Summary of Scientific Articles: Comparison of Vector RAG vs Graph Pipelines with LLMs",
        tooltip:
            "A comparison of Vector RAG and Graph RAG pipeline to summary scientific article w/ Langchain",
    },
    {
        href: "https://github.com/Almiinh/ml-exercises/blob/main/dl_ImageClassification.ipynb",
        color: "#AFEEEE", // Pastel Cyan
        fontColor: "black",
        tag: "Deep Learning",
        title: "Image classifier w/ CNN: Cat and dogs",
        tooltip:
            "A CNN model training to classify cat and dog images. Classification of their breeds w/ Tensorflow Keras",
    },
    {
        href: "https://github.com/Almiinh/ml-exercises/blob/main/dl_TimeSeries.ipynb",
        color: "#AFEEEE", // Pastel Cyan
        fontColor: "black",
        tag: "Deep Learning",
        title: "Time Series Prediction w/ LSTM",
        tooltip: "LSTM model training, predicting a time series of office occupancy w/ Tensorflow Keras",
    },
    {
        href: "https://github.com/Almiinh/ml-exercises/blob/main/ml/2-decision-tree/DecisionTree.ipynb",
        color: "#D8BFD8", // Pastel Purple
        fontColor: "black",
        tag: "Machine Learning",
        title: "Decision Trees: ID3 vs CART",
        tooltip:
            "An plain implementation of ID3 and CART in Python w/ Numpy to understand the algorithm of Decision Trees. Comparison with the sklearn implementation",
    },
    {
        href: "https://github.com/Almiinh/ml-exercises/blob/main/nlp_TokenClassification.ipynb",
        color: "#DEA1A9", // Pastel Rose
        fontColor: "black",
        tag: "NLP, LLM",
        title: "Part-of-Speech Tagging by finetuning BERT (PyTorch)",
        tooltip: "Finetuning of BERT on Part-of-Speech Tagging",
    },
];

const webProjects = [
    {
        href: "/web/project3-rock-paper-scissors/index.html",
        color: "#F5F5DC", // Pastel Beige
        fontColor: "black",
        tag: "JS Basics",
        title: "Rock Paper Scissors",
    },
    {
        href: "/web/project4-etch-a-sketch/index.html",
        color: "#F5F5DC", // Pastel Beige
        fontColor: "black",
        tag: "DOM Input, Click and Mouseover Events",
        title: "Etch-a-Sketch",
    },
    {
        href: "/web/project5-calculator/index.html",
        color: "#F5F5DC", // Pastel Beige
        fontColor: "black",
        tag: "DOM Key Bindings Event",
        title: "Calculator",
    },
    {
        href: "/web/project8-library/",
        color: "#F5F5DC", // Pastel Beige
        fontColor: "black",
        tag: "JS Objects",
        title: "Library",
    },
    {
        href: "/web/project9-tic-tac-toe/index.html",
        color: "#F5F5DC", // Pastel Beige
        fontColor: "black",
        tag: "JS Modules",
        title: "Tic Tac Toe",
    },
    {
        href: "/web/project11-todo-list/index.html",
        color: "#F5F5DC", // Pastel Beige
        fontColor: "black",
        tag: "JS Component, Classes",
        title: "Todo List",
    },
    {
        href: "/web/project12-weather-app/index.html",
        color: "#F5F5DC", // Pastel Beige
        fontColor: "black",
        tag: "JS Fetch, Async",
        title: "Weather App",
    },
    {
        href: "/web/project18-battleship/",
        color: "#F5F5DC", // Pastel Beige
        fontColor: "black",
        tag: "TS, Game Logic, DOM Manipulation",
        title: "Battleship Game",
    },
];

const projects = [
    {
        heading: "CS Projects",
        projects: csProjects,
    },
    {
        heading: "AI / ML Projects",
        projects: mlProjects,
    },
    {
        heading: "Web Projects",
        projects: webProjects,
    },
];
---

<Layout>
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <Banner backlink="" title="Minh-Hoang's Portfolio" client:load>
        <nav>
            {
                navItems.map((item) => (
                    <a href={item.href}>
                        <img src={item.src} alt={item.alt} />
                    </a>
                ))
            }
        </nav>
        <p>
            CS Major @ Mines Saint-Étienne, FR<br />
            Intern @ Thales Research & Technologies, Palaiseau, Paris-Saclay, FR<br />
        </p>
    </Banner>
    <main>
        {
            projects.map(({ heading, projects }) => (
                <section>
                    <h2>{heading}</h2>
                    <div class="links">
                        {projects.map((project) => (
                            <a href={project.href} class="link card">
                                {project.tag && (
                                    <span class="tag" style={{ backgroundColor: project.color, color: project.fontColor }}>
                                        {project.tag}
                                    </span>
                                )}
                                <br />
                                {project.title && <span class="title">{project.title}</span>}
                                <br />
                                {project.tooltip && <span class="tooltip">{project.tooltip}</span>}
                            </a>
                        ))}
                    </div>
                </section>
            ))
        }
        <br />
    </main>
</Layout>

<style>
    #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(100px) contrast(25%);
    }

    :is(h1, h2, h3, h4, h5, h6) {
        font-family: var(--font-headings);
    }

    body *:not(h1, h2, h3, h4, h5, h6) {
        font-family: var(--font-sans-serif);
    }

    nav a {
        display: inline-block;
        line-height: 0;
        margin-right: 0.6rem;
    }

    main {
        margin: 5vh 15vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        grid-auto-flow: row dense;
        gap: 5vh;
    }

    .links {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        grid-auto-flow: row dense;
    }

    @media (width < 600px) {
        .links {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media (600px < width < 1000px) {
        .links {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    /* .link {
        &:hover > .tooltip,
        *:active + .tooltip,
        .tooltip.visible {
            transition: opacity 150ms ease-in-out;
            opacity: 0.9;
            display: block;
            z-index: 1;
        }

        &:hover {
            background-color: var(--color-bg-secondary);
        }
    } */

    .card {
        max-width: 20rem;
        background-color: var(--color-bg);
        margin: 0;
        box-shadow: 0 0 10px var(--color-shadow);
        min-height: 3rem;
        padding: 1rem;
        text-decoration: none;

        .tag {
            color: var(--color-text);
            font-size: x-small;
            margin: 0;
            background-color: rgba(255, 127, 80, 0.479);
            padding: 0.1rem 0.3rem;
            border-radius: 10px;
        }

        .title {
            color: var(--color-text);
            font-size: large;
            font-weight: bolder;
        }

        .tooltip {
            color: var(--color-text-secondary);
            font-size: small;
        }

        &:hover {
            background-color:;
            transform: translateY(2px);
        }
    }
</style>
