---
import iconCV from "../assets/index/CV128.red.png";
import iconLinkedIn from "../assets/index/LINKEDIN.svg";
import iconGithub from "../assets/index/GITHUB.svg";
import iconGithubWhite from "../assets/index/GITHUB.white.svg";

const references = [
    {
        href: "/index/CV FR.pdf",
        img: iconCV.src,
        alt: "Click to download my CV",
    },
    {
        href: "https://www.linkedin.com/in/minh-hoang-alexis-huynh-621b52222/",
        img: iconLinkedIn.src,
        alt: "Click to visit my LinkedIn profile",
    },
    {
        href: "https://github.com/Almiinh",
        img: iconGithub.src,
        alt: "Click to visit my GitHub profile",
    },
];

const { class: className = "" } = Astro.props;
---

<div class:list={className}>
    {
        references.map((item) => (
            <a href={item.href} target="_blank" rel="noopener noreferrer" title={item.alt}>
                {item.img && (
                    <img
                        src={item.img}
                        alt={item.alt}
                        height="28"
                        width="28"
                        decoding="async"
                        loading="lazy"
                    />
                )}
            </a>
        ))
    }
</div>

<style
    define:vars={{ iconGithub: `url("${iconGithub.src}")`, iconGithubWhite: `url("${iconGithubWhite.src}")` }}
>
    div a {
        display: inline-block;
        margin: 0 0.3rem;
    }
    img {
        filter: var(--filter-hover);
        min-width: 28px;
        min-height: 28px;

        &:hover {
            translate: 0 -2px;
            filter: contrast(100%);
            transition: all 0.2s;
        }
    }
    @media (prefers-color-scheme: light) {
        :root[style*="color-scheme: dark"].dark img[alt="GitHub" i] {
            content: var(--iconGithubWhite);
        }

        img[alt="GitHub" i] {
            content: var(--iconGithub);
        }
    }
    @media (prefers-color-scheme: dark) {
        img[alt="GitHub" i] {
            content: var(--iconGithubWhite);
        }

        :root[style*="color-scheme: light"] img[alt="GitHub" i] {
            content: var(--iconGithub);
        }
    }
</style>
