---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";
import "../styles/markdown.css";
import "../styles/blog.css";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, heroSize } = Astro.props;
---

<Layout largeScreenMargin="25vw">
    <article class="blog">
        <div class="title">
            <div class="hero-image small">
                {heroImage && heroSize === "small" && <Image src={heroImage} alt="" />}
            </div>
            <h1>{title}</h1>
            <p>{description}</p>
            <div class="date">
                <FormattedDate date={pubDate} />
                {
                    updatedDate && (
                        <div class="last-updated-on">
                            Last updated on <FormattedDate date={updatedDate} />
                        </div>
                    )
                }
            </div>
            <hr />
        </div>
        <div class="hero-image">
            {heroImage && heroSize === "large" && <Image src={heroImage} alt="" />}
        </div>
        <slot />
    </article>
</Layout>

<style>
    main {
        margin: 0;
        max-width: 100%;
    }
    .hero-image img {
        display: block;
        margin: 0 auto;
        box-shadow: var(--box-shadow);
        border-radius: 12px;
        height: auto;
    }
    .hero-image.small img {
        margin: 0.5rem 1rem 0.5rem 0;
        border-radius: 12px;
        border-radius: 8px;
        width: auto;
        max-width: 10rem;
        height: auto;
        max-height: 6rem;
        object-fit: cover;
    }
    .title {
        margin-bottom: 1em;
    }
    .title h1 {
        font: bold var(--size-title) var(--font-title);
    }
    .title p {
        color: var(--color-text-secondary);
    }
    .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
    }
    .last-updated-on {
        font-style: italic;
    }
</style>
