---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import iconCV from "../assets/index/CV128.red.png";
import iconLinkedIn from "../assets/index/LINKEDIN.svg";
import iconGithub from "../assets/index/GITHUB.svg";
import iconGithubWhite from "../assets/index/GITHUB.white.svg";

const {sideMargin = "15vw"} = Astro.props;

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Minh-Hoang HUYNH</title>
        <link rel="stylesheet" href="/index/global.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
            integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
            crossorigin="anonymous"
        />
        <link rel="preload" href={iconCV.src} as="image" />
        <link rel="preload" href={iconGithub.src} as="image" />
        <link rel="preload" href={iconGithubWhite.src} as="image" />
        <link rel="preload" href={iconLinkedIn.src} as="image" />
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style define:vars={{sideMargin}}>
    body {
        margin: 0;
        background: var(--background-gradient);
        width: 100%;
        height: 100%;
    }
    main {
        margin: 5vh max(var(--sideMargin), 36px);
        text-wrap: pretty;
    }
</style>
